@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "IBM Plex Sans", sans-serif;
}

/*Heading*/
.heading__title {
  font-size: 32px;
  line-height: 42px;
  letter-spacing: 0.1px;
  color: #4f47c8;
  text-align: center;
}

.heading__description {
  text-align: center;
  color: #6f7482;
  padding-bottom: 15px;
}

/*Section Form*/
.form {

  width: 492px;
  margin: auto;
  border: 1px dashed #4f47c8;
  border-radius: 5px;
  padding: 16px;
}

.form__textInput,.form__dropdownInput,.form__radioInput,.form__checkboxInput,.form__textareaInput{
  padding-bottom:20px;
}

.form label {
  display: block;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.01em;
  color: #4f47c8;
}

.form p {
  color: #4f47c8;
  margin:0;
}

.form p:first-child {
  margin-top: 0;
}

/*Form dropdown,
Form name input,
Form email input,
Form age input
*/
.form__textInput input,
select {
  padding: 12px;
  height: 48px;
  background: #f8fafc;
  border-radius: 4px;
  border: none;
  display: block;
  width: 100%;
  color: #b8bcca;
  font-size: small;
}

input::placeholder{
  color:#b8bcca;
  font-size: small;
}


/*
Form radio buttons,
Form Checkbox
*/
.form__radioInput label,
.form__checkboxInput label {
  color: #6f7482;
}

/*Form Comments*/
.form textarea {
  padding: 12px;
  width: 100%;
  background: #f8fafc;
  border-radius: 4px;
  border: none;
  font-size: small;
  line-height: 143%;
  color: #b8bcca;
}

/*Form Button*/
.form #submit {
  padding: 10px 16px;
  background: #4f47c8;
  border-radius: 6px;
  color: white;
  width: 100%;
  border: none;
  margin-top: 10px;
  font-size: large;
}

/*About me links*/
footer {
  text-align: center;
}
footer a{
  color:#4a4d56;
  
}
footer a:hover{
color:#4f47c8;
}